.ProseMirror {
    /* Image Block */

    & figure[data-type='imageBlock'] {
        @apply m-0;

        & img {
            @apply rounded block w-full ;
        }
    }

    /* Block Quote */
    & figure[data-type='blockquoteFigure'] {
        @apply my-14 bg-[#FAF594] rounded-xl border-3 opacity-100 mt-6 mb-6 border-opacity-100 border-[#0D0D0D] py-4 px-5 dark:text-foreground dark:bg-gray-800;
    }

    & > blockquote,
    [data-type='blockquoteFigure'] {
        & blockquote {
            @apply m-0 leading-8 text-2xl font-bold;

            & > * {
                @apply first:mb-1.5;
            }
        }
    }

    /* Columns */
    [data-type='columns'] {
        @apply grid gap-6 mt-8 mb-12;

        &.layout-sidebar-left {
            grid-template-columns: 2fr 3fr;
        }

        &.layout-sidebar-right {
            grid-template-columns: 3fr 2fr;
        }

        &.layout-two-column {
            grid-template-columns: 1fr 1fr;
        }
    }

    [data-type='column'] {
        @apply bg-gray-100 dark:bg-gray-800 p-4 rounded-lg shadow-md;
    }
}
